Report Requirements:
1. Total Number of patient's diagnosis done in the dataset provided to you
2. What is the percentage of patients who has the history of Heart Attack
3. What is the percentag? of patients who has the history of Stroke
4.Count of Female patients who are not overweight
5.Number of patients based on Health Risk
6.Average weight of the people based on Occupation.
7. Total Number of Overweight patients based on Race
8. Find out the number of Normal health candidate in each age group.
9.Number of patients who possess the habit of smoking and are at the HIGH
health Risk.
10. Number of patients who exercise less than 30 min and at HIGH health or moderate healthrisk